/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&display=swap');

/* VARIABLES */

:root {

    /* Palette */
    --primary: #dfe3ec;
    --secondary: #734eb8;
    --dark: #2e2b31;
    --accent: #28a3f0;
    --lightblack: #3B393D;

    /* Font Sizes */
    --text-xxl: 4.0em;
    --text-xl: 3.2em;
    --text-lg: 2.4em;
    --text-md: 2.0em;
    --text-sm: 1.8em;
    --text-xs: 1.6em;

    /* Spacings */

    --sp-xxl: 10.25rem;
    --sp-xl: 6rem;
    --sp-lg: 3.75rem;
    --sp-md: 2.375rem;
    --sp-sm: 2rem;
    --sp-xs: 1.5rem;
    --sp-xxs: 0.5rem;
}

/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
    background-color: var(--dark);
}

ul {
    list-style-type: none;
}

a {
    font-size: var(--text-xxs);
    text-decoration: none;
    color: var(--primary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header {
    padding: var(--sp-sm);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: var(--lightblack);
    padding: 1.125em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.clientes__item:hover {
    animation: animation 2s ease-out;
}

@keyframes animation {
    0% {
        opacity: 0;
        left: -700px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}


.menu {
    display: flex;
    gap: 60px;
}

.menu .menu__link:hover {
    color: var(--secondary);
}

.menu__link-boton {
    background-color: var(--secondary);
    width: 10.281rem;
    padding: 1.5rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.4s;
}

.menu__link-boton:hover {
    box-shadow: inset 16rem 0 0 0 var(--accent);
}

/* SECCION PRINCIPAL*/

#hero {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

#hero {
    display: flex;
    gap: 90px;
}

#hero div {
    margin: 1rem 0;
}

#hero .hero__item {
    width: 45rem;
    display: flex;
    flex-direction: column;

}

#hero .hero__item .hero__title {
    text-align: start;
    line-height: 1.2;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#hero .hero__item .hero__text {
    text-align: start;
    font-size: 1.125rem;
}

#hero .hero__imagen {
    width: 100%;
    height: auto;
    align-items: flex-end;
}

/* SECCION DE CLIENTES */

#clientes {
    margin-top: 2rem;
}

#clientes .clientes__title .clientes__texto{
    text-align: center;
    font-size: 2rem;
}

#clientes .clientes__logos {
    margin-top: 2rem;
}

#clientes .clientes__logos {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

/* SECCION DESCRIPCION Y REDIRECCION */
/* TITULO */

#proyecto {
    margin-top: 4rem;
}

.proyecto__texto--top {
    display: flex;
    justify-content: space-around;
}

#proyecto .proyecto__texto--top {
    width: 80rem;
    display: flex;
    flex-direction: row;
}

#proyecto .proyecto__top--title {
    text-align: left;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#proyecto .proyecto__top--text {
    text-align: right;
    line-height: 1.2;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

#proyecto .proyecto__top--text {
    text-align: left;
}

/* IMAGENES */

#proyecto .proyecto__content {
    display: flex;
    gap: 50px;
    margin-bottom: 2rem;
    justify-content: center;
}

#proyecto .proyecto__content {
    display: flex;
    align-content: center;
}

#proyecto .proyecto__content--down {
    display: flex;
    gap: 50px;
    margin-bottom: 4rem;
    justify-content: center;
}

#proyecto .proyecto__item--text {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#proyecto .proyecto__link {
    font-size: 1.1rem;
    font-weight: 700;
}

#proyecto .proyecto__link:hover {
    color: var(--secondary);
    text-decoration: underline;
}

/* TESTIMONIOS */
/* TITULO */

#review .review__item {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#review .review__title {
    font-weight: 200;
}

#review .review__subtitle {
    font-weight: 700;
}

#review .review__card {
    display: flex;
    margin-bottom: 4rem;
}

#review .review__card {
    background-color: var(--primary);
    width: auto;
    padding: 1.5rem;
    border: none;
    border-radius: 3rem;
    color: var(--dark);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

#review .review__card--description {
    padding: 1rem;
    margin: 1rem;   
}

.review__results {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.review__text {
    margin-bottom: 1rem;
}

.review__author--name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.review__author--profesion {
    color: #6C757D;
}

/* CALL TO ACTION */

#cta {
    margin-bottom: 2rem;
}

#cta {
    background-color: var(--primary);
    color: var(--dark);
    width: auto;
    padding: 2rem;
    border: none;
    border-radius: 3rem;
    letter-spacing: 1px;
}

#cta .cta__title {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 1rem;
}

#cta .cta__text {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

#cta .cta__button {
    background-color: var(--secondary);
    width: 10.281rem;
    padding: 1rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.4s;
    text-align: center;
}

#cta .cta__link {
    display: flex;
    justify-content: center;
}

.cta__button:hover {
    box-shadow: inset 16rem 0 0 0 var(--accent);
}

/* FOOTER */

#footer {
    padding-top: 2rem;
    background-color: var(--lightblack);
}

#footer .footer__title {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

#footer .footer__item {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    font-size: 1.2rem;
}

#footer .footer__link:hover {
    color: var(--secondary);
}

#footer .footer__down {
    display: flex;
    justify-content: space-between;
}

#footer .footer__rights {
    margin-left: 1rem;
}

#footer .socialmedia {
    margin-right: 1rem;
}

#footer .socialmedia__link:hover {
    color: var(--secondary);
}

#footer .socialmedia__item {
    padding: .5rem;
}

#footer .socialmedia__link {
    padding: .5rem;
}

/* PAGINA DE REGISTRO */

#formulario {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

#formulario {
    display: flex;
    gap: 90px;
}

#formulario {
    margin: 1rem 0;
}

#formulario .formulario__registro {
    width: 45rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.formulario__registro--title {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.formularios__registro--form {
    font-size: 1.7rem;
    margin: 1rem 0;
    padding: 1.5rem;
    border: none;
    border-radius: 1.2rem;
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    outline: none;
}

.formularios__registro--form {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.formularios__registro--form .form {
    padding: 1rem;
    border: none;
    border-radius: 1.2rem;
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    resize: none;
    width: 95%;
    transition: 0.5s;
    margin: 1rem;
}

.formularios__registro--form .send {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    border: none;
    border-radius: 1.2rem;
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    resize: none;
    width: 40%;
    transition: 0.5s;
    margin: 1rem;
    font-weight: 1000;
}

.formularios__registro--form .send:hover {
    box-shadow: inset 16rem 0 0 0 var(--accent);
}

/* MEDIA QUERIES */

/*NAVBAR*/
@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }

    .navbar .menu__link{
        flex-direction: column;
    }

    #hero{
        flex-direction: column;
    }

    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #proyecto .proyecto__texto--top{
        flex-direction: column;
    }

    #proyecto .proyecto__content{
        flex-direction: column;
    }

    #proyecto .proyecto__content--down{
        flex-direction: column;
    }
}