/* VARIABLES */

/* Palette */
$primary: #dfe3ec;
$secondary: #734eb8;
$dark: #2e2b31;
$accent: #28a3f0;
$lightblack: #3b393d;

/* Font Sizes */
$text-xxl: 4em;
$text-xl: 3.2em;
$text-lg: 2.4em;
$text-md: 2em;
$text-sm: 1.8em;
$text-xs: 1.6em;

/* Spacings */

$sp-xxl: 10.25rem;
$sp-xl: 6rem;
$sp-lg: 3.75rem;
$sp-md: 2.375rem;
$sp-sm: 2rem;
$sp-xs: 1.5rem;
$sp-xxs: 0.5rem;
