/* PAGINA DE CARACTERISTICAS */

.caracteristicas__title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.caracteristicas__text {
  font-size: 1.125rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

.caracteristicas__content--item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .navbar .menu__link-boton {
    display: none;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .caracteristicas__content--item {
    flex-direction: column-reverse;
    align-items: center;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .navbar .menu__link-boton {
    display: none;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .caracteristicas__content--item {
    flex-direction: column-reverse;
    align-items: center;
    display: block;
  }
}

@media only screen and (max-width: 968px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
    padding-bottom: 2rem;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .caracteristicas__content--item {
    flex-direction: column-reverse;
    align-items: center;
    display: block;
  }
}
