/* PAGINA DE INICIO */
/* SECCION PRINCIPAL*/

#hero {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
  gap: 90px;

  #hero div {
    margin: 1rem 0;
  }

  #hero .hero__item {
    width: 45rem;
    display: flex;
    flex-direction: column;
  }

  #hero .hero__item .hero__title {
    text-align: start;
    line-height: 1.2;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  #hero .hero__item .hero__text {
    text-align: start;
    font-size: 1.125rem;
  }

  #hero .hero__imagen {
    width: 100%;
    height: auto;
    align-items: flex-end;
  }
}

/* SECCION DE CLIENTES */

#clientes {
  margin-top: 2rem;

  #clientes .clientes__title .clientes__texto {
    text-align: center;
    font-size: 2rem;
  }

  #clientes .clientes__logos {
    margin-top: 2rem;
  }

  #clientes .clientes__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* SECCION DESCRIPCION Y REDIRECCION */
/* TITULO */

#proyecto {
  margin: 4rem;

  .proyecto__texto--top {
    display: flex;
    justify-content: space-between;
  }

  #proyecto .proyecto__texto--top {
    width: 50rem;
    display: flex;
    flex-direction: row;
  }

  #proyecto .proyecto__top--title {
    text-align: left;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    padding-right: 3rem;
  }

  #proyecto .proyecto__top--text {
    line-height: 1.2;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }

  #proyecto .proyecto__top--text {
    text-align: left;
  }

  /* IMAGENES */

  #proyecto .proyecto__content {
    display: flex;
    gap: 50px;
    margin-bottom: 2rem;
    justify-content: center;
  }

  #proyecto .proyecto__content {
    display: flex;
    align-content: center;
  }

  #proyecto .proyecto__content--down {
    display: flex;
    gap: 50px;
    margin-bottom: 4rem;
    justify-content: center;
  }

  #proyecto .proyecto__item--text {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #proyecto .proyecto__link {
    font-size: 1.1rem;
    font-weight: 700;
  }

  #proyecto .proyecto__link:hover {
    color: $secondary;
    text-decoration: underline;
  }
}

/* TESTIMONIOS */
/* TITULO */

#review {
  align-content: center;

  #review .review__item {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  #review .review__title {
    font-weight: 200;
  }

  #review .review__subtitle {
    font-weight: 700;
  }

  #review .review__card {
    display: flex;
    margin-bottom: 4rem;
  }

  #review .review__card {
    background-color: $primary;
    width: auto;
    padding: 1.5rem;
    border: none;
    border-radius: 3rem;
    color: $dark;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .review__card--img {
    margin-top: 3rem;
  }

  #review .review__card--description {
    padding: 1rem;
    margin: 1rem;
  }

  .review__results {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .review__text {
    margin-bottom: 1rem;
  }

  .review__author--name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .review__author--profesion {
    color: #6c757d;
  }
}

/* CALL TO ACTION */

#cta {
  margin-bottom: 2rem;

  #cta {
    background-color: $primary;
    color: $dark;
    width: auto;
    padding: 2rem;
    border: none;
    border-radius: 3rem;
    letter-spacing: 1px;
  }

  #cta .cta__title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  #cta .cta__text {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }

  #cta .cta__button {
    background-color: $secondary;
    width: 10.281rem;
    padding: 1rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.4s;
    text-align: center;
  }

  #cta .cta__link {
    display: flex;
    justify-content: center;
  }

  .cta__button:hover {
    box-shadow: inset 16rem 0 0 0 $accent;
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .navbar .menu__link-boton {
    display: none;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  #hero {
    flex-direction: column;
    display: block;
  }

  .hero__title {
    text-align: center;
    padding-top: 1rem;
  }

  .hero__text {
    text-align: center;
    padding-top: 0.5rem;
  }

  .hero__imagen {
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .proyecto__texto--top {
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .proyecto__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .proyecto__content--down {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .review__item {
    text-align: center;
    padding-top: 2rem;
  }

  .review__card {
    flex-direction: column;
    display: block;
  }

  .estrellas {
    display: none;
  }

  .review__results {
    display: none;
  }

  .review__card--description {
    flex-direction: column;
  }

  .review__card--img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .navbar .menu__link-boton {
    display: none;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  #hero {
    flex-direction: column;
    display: block;
  }

  .hero__title {
    text-align: center;
    padding-top: 1rem;
  }

  .hero__text {
    text-align: center;
    padding-top: 0.5rem;
  }

  .hero__imagen {
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .proyecto__texto--top {
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .proyecto__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .proyecto__content--down {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .review__item {
    text-align: center;
    padding-top: 2rem;
  }

  .review__card {
    flex-direction: column;
    display: block;
  }

  .estrellas {
    display: none;
  }

  .review__results {
    display: none;
  }

  .review__card--description {
    flex-direction: column;
  }

  .review__card--img {
    display: none;
  }
}

@media only screen and (max-width: 968px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
    padding-bottom: 2rem;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  #hero {
    flex-direction: column;
    display: block;
  }

  .hero__title {
    text-align: center;
    padding-top: 1rem;
  }

  .hero__text {
    text-align: center;
    padding-top: 0.5rem;
  }

  .hero__imagen {
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .proyecto__texto--top {
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .proyecto__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .proyecto__content--down {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .review__item {
    text-align: center;
    padding-top: 2rem;
  }

  .review__card {
    flex-direction: column;
    display: block;
  }

  .estrellas {
    display: none;
  }

  .review__results {
    display: none;
  }

  .review__card--description {
    flex-direction: column;
  }

  .review__card--img {
    display: none;
  }
}
