/* PAGINA DE NOSOTROS */

.nosotros__inicio {
    padding-bottom: 1rem;
}

.nosotros__text {
    font-size: 1.125rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: right;
}

.nosotros__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}