/* PAGINA DE PRECIOS */

.precios__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding: 2rem;
}

.precios__description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.precios__item {
  padding: 2rem;
}

.precios__menu {
  padding-bottom: 2rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .navbar .menu__link-boton {
    display: none;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .precios__title {
    font-size: var(--text-md);
  }

  .precios__description {
    font-size: var(--text-s);
  }

  .precios__image {
    flex-direction: column-reverse;
    align-items: center;
    display: block;
    padding: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .navbar .menu__link-boton {
    display: none;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .precios__title {
    font-size: var(--text-md);
  }

  .precios__description {
    font-size: var(--text-s);
  }

  .precios__image {
    flex-direction: column-reverse;
    align-items: center;
    display: block;
    padding: 4rem;
  }
}

@media only screen and (max-width: 968px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu {
    margin-top: 0.5rem;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    display: block;
    padding-bottom: 2rem;
  }

  .navbar .menu__link {
    padding: 0.5rem;
  }

  .socialmedia__logo {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer__down {
    flex-direction: column;
    align-items: center;
  }

  .precios__title {
    font-size: var(--text-md);
  }

  .precios__description {
    font-size: var(--text-s);
  }

  .precios__image {
    flex-direction: column-reverse;
    align-items: center;
    display: block;
    padding: 3rem;
  }
}
